<ion-view class="login">
  <ion-content>
    <h1 class="title logo-login"><img src="./img/logo2.png" class="image-logo-login"></h1>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <i class="icon ion-person placeholder-icon"></i>
          <input type="text" placeholder="Username" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" placeholder="Password" ng-model="loginData.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-block button-positive" type="submit">Log in</button>
      </div>
    </form>
  </ion-content>
</ion-view>
