.login {
  background: url("../img/background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
}

.bar-menu{
  height: 65px !important;
}

.logo-login{
  margin-top: 15%  !important;
  text-align: center;
  margin-bottom: 70px;
}

.item-floating-label .placeholder-icon {
  padding-right: 18px;
  position: absolute;
  bottom: 9px;
  left: 17px;
}

.input-text{
  height: 55px !important;
}

.button-snack4me{
  border-color: #363843 !important;
  background-color: #414453 !important;
}

.item-floating-label {
  padding-left: 40px !important;
}

.image-logo-login{
  width: 70%;
}

.content-login{
  top: 200px !important;
}

.content-menu{
  top: 65px !important;
}

.icon-menu{
  font-size: 20px;
  padding-right: 10px;
}


